.footer-links {
    display: flex;
    justify-content: space-between;
    gap: 25px; /* Ajusta el valor según sea necesario */
}

.column {
    flex: 1;
    min-width: 200px; /* Asegura que haya espacio entre ellos */
    

}
.footer-logo {
    margin-bottom: 50px; /* Ajusta la distancia entre logo y links */
}

.footer-logo p {
    text-align: justify; /* Justificar el texto */
}

.footer-links .column h4,
.footer-links .column ul {
    text-align: left; /* Alinear los títulos y listas a la izquierda */
}


.social-icons {
    display: flex;
    gap: 15px; /* Espacio entre los íconos */
    margin-top: 20px; /* Espacio entre el texto y los íconos */
}

.social-icons img {
    width: 25px; /* Tamaño de los íconos */
    height: auto;
}
.hero-content, .hero-image {
    opacity: 0;
    transform: translateY(50px);
    animation: fadeInUp 1s ease-out forwards;
}

.hero-image {
    animation-delay: 0.5s; /* Retraso para que la imagen aparezca después del texto */
}

@keyframes fadeInUp {
    from {
        opacity: 0;
        transform: translateY(50px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.feature {
    opacity: 0;
    transform: translateX(-50px);
    animation: slideInLeft 1s ease-out forwards;
    animation-delay: 1.3s;
}

@keyframes slideInLeft {
    from {
        opacity: 0;
        transform: translateX(-50px);
    }
    to {
        opacity: 1;
        transform: translateX(0);
    }
}
.choose img,
.choose .texto,
.choose .extra-texto {
    opacity: 0;
    animation: fadeIn 3s ease-out forwards;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
.collaboration-section {
    opacity: 0;
    transform: translateX(-100%);
    animation: slideIn 4s ease-out forwards;
}

@keyframes slideIn {
    from {
        opacity: 0;
        transform: translateX(-100%);
    }
    to {
        opacity: 1;
        transform: translateX(0);
    }
}
.collaboration-section2 {
    opacity: 0;
    transform: translateX(100%);
    animation: slideInRight 4s ease-out forwards;
}

@keyframes slideInRight {
    from {
        opacity: 0;
        transform: translateX(100%);
    }
    to {
        opacity: 1;
        transform: translateX(0);
    }
}

