/* Estilos generales */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    text-align: center;
}

/* Header */
.header {
    display: flex;
    justify-content: center;
    gap: 30px;
    align-items: center;
    padding: 20px 10%;
    background-color: white;
    box-shadow: none;
}
.header nav ul li a {
    text-decoration: none;
    color: black;
    font-size: 11px; /* Reduce el tamaño del texto */
    font-weight: 400; /* Hace que el texto sea más delgado (normal) */
    font-family: Arial, sans-serif;; /* Asegura una tipografía ligera */
}


.logo {
    display: flex;
    align-items: center;
    font-size: 28px; /* Aumenta el tamaño del texto */
    font-weight: 300; /* Hace el texto más delgado */
    font-family: "Century Gothic", Arial, sans-serif;;
    gap: 5px; /* Espacio entre la imagen y el texto */
    color: rgb(1, 1, 109);
    margin-right: 200px;

    
}

.logo-img {
    width: 30px; /* Ajusta el tamaño de la imagen */
    height: auto; /* Mantiene la proporción */

}


nav ul {
    list-style: none;
    display: flex;
    gap: 40px;
}

nav ul li {
    display: inline;
}

.header nav ul li a {
    text-decoration: none;
    color: rgba(24, 24, 75, 0.699);
    font-weight: bold;
}


.btn1 {
    background-color: white; /* Fondo blanco */
    color: #ff9800; /* Texto naranja */
    padding: 10px 20px;
    text-decoration: none;
    border: 2px solid #ff9800; /* Borde naranja */
    border-radius: 5px;
    font-weight: bold; /* Hace el texto más visible */
    transition: all 0.3s ease; /* Agrega un efecto suave */
}

.btn1:hover {
    background-color: #ff9800; /* Cambia el fondo a naranja al pasar el mouse */
    color: white; /* Cambia el texto a blanco */
}
.btn2 {
    background-color: #ff9800; /* Fondo naranja */
    color: white; /* Texto blanco */
    padding: 10px 20px;
    text-decoration: none;
    border: 2px solid #ff9800; /* Borde naranja */
    border-radius: 5px;
    font-weight: bold; /* Hace el texto más visible */
    transition: all 0.3s ease; /* Agrega un efecto suave */
    
    
    
}

.btn2:hover {
    padding: 14px 28px; /* Aumenta un poco el tamaño del botón */
    border-radius: 10px; /* Suaviza aún más los bordes */
    letter-spacing: 1px; /* Hace que las letras se separen un poco */

}


